html,
body {
  margin: 0;
  padding: 2%;
}
.container-grid-rollable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

/* .stat-label{
  background-color: red;
  font-size: 5vh;
} */