html,
body {
  margin: 0;
  padding: 2%;
}
.container-grid-rollable{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}
.btn-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: red;  
}

/* .stat-label{
  background-color: red;
  font-size: 5vh;
} */